@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=League+Gothic&family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "payalFont";
  src: local("payalFont"),
    url(./assets/fonts/prodisplayfont.otf) format("truetype");
}

:root {
  --primary-color: #f783ac;
  --text-color: #333333;
  --lighter-text: #838485;
  --background-color: #f6f6f6;
  --lighter--gray: #cecece;
  --color-bg1: rgb(246, 246, 246);
  /* --color-bg2: rgb(234, 226, 241); */
  --color-bg2: rgb(246, 246, 246);

  --color1: 244, 144, 241;
  --color2: 245, 191, 215;
  --color3: 230, 204, 231;
  --color4: 234, 226, 241;
  --color5: 240, 171, 243;
  --color-interactive: 211, 159, 213;
  --circle-size: 80%;
  --blending: hard-light;
  --gradient: linear-gradient(
    90deg,
    rgb(244, 144, 241) 0%,
    rgb(160, 141, 206) 100%
  );
}
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

/* Text Color Classes */
.text-primary {
  color: var(--primary-color);
}

.text-light {
  color: var(--lighter-text);
}

.text-dark {
  color: var(--text-color);
}

/* League Gothic Classes */
.font-leag-subtitle {
  font-family: "League Gothic", sans-serif;
  font-size: 7.5rem; /* 120px */
  font-weight: 400;
  line-height: 9rem; /* 144px */
  letter-spacing: 0.01em;
  text-align: left;
}

.font-leag-title {
  font-family: "payalFont", sans-serif;
  font-size: 9.375rem; /* 150px */
  font-weight: 400;
  line-height: 10rem;
  letter-spacing: 0em;
  text-align: left;
}
.hero {
  padding-top: 13.625rem;
  padding-inline: 5.25rem;
}
.hero-hello {
  font-family: "payalFont", sans-serif;
  font-size: 1.875rem;
  font-weight: 200;
  line-height: 1.75rem;
  letter-spacing: 0.28em;
  text-align: left;
}
/* Manrope Classes */
.font-man-body {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  line-height: 1.5625rem; /* 25px */
  letter-spacing: 0em;
  text-align: left;
}
.relative {
  position: relative;
}

.font-man-large {
  font-family: "Manrope", sans-serif;
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  line-height: 3.4375rem; /* 55px */
  letter-spacing: 0.01em;
  text-align: left;
}

.font-man-normal {
  font-family: "Manrope", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.375rem; /* 22px */
  letter-spacing: 0.01em;
  text-align: left;
}

.font-man-small {
  font-family: "Manrope", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.01em;
  text-align: left;
}

/* Background Color Classes */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-light {
  background-color: var(--lighter-text);
}

.bg-dark {
  background-color: var(--background-color);
}

/* Font Weight Classes */
.font-thin {
  font-weight: 100;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Flex Container */
.flex {
  display: flex;
}

/* Flex Direction */
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* Flex Wrap */
.flex-wrap {
  flex-wrap: wrap;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

/* Align Items */
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* Align Content */
.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* font-size: 16px; */
}
/* Main classes */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 500;
  line-height: 1.36rem;
  letter-spacing: 0em;
  text-align: left;
  min-height: 100vh;
}
section {
  padding-inline: 5.25rem;
}
#root {
  min-height: 100vh;
}

.nav-link {
  text-transform: uppercase;
  transition: color ease-in-out 0.3s;
  color: var(--text-color);
}
.text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;

  top: 0;
  left: 0;
  color: var(--text-color);
  opacity: 0.8;
  user-select: none;
}

.hero-p {
  margin-left: auto;
  padding-right: 5.25rem;
  font-family: Manrope;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  text-align: left;
  position: relative;
  padding-bottom: 10px;
}
.hero-p::after {
  content: "";
  position: absolute;
  background-color: rgb(20, 20, 20);
  width: 20rem;
  z-index: 2;
  bottom: 0.5px;
  left: -52px;
  height: 1px;
}

.description {
  width: 50.31rem;
}
.mt-9 {
  margin-top: 17.06rem;
}
.pt-8 {
  padding-top: 13.125rem;
}
.pt-8_5 {
  padding-top: 15rem;
}
.px-6 {
  padding-inline: 6.21rem;
}
.nav-link:hover {
  text-transform: uppercase;
  transition: color ease-in-out 0.3s;
  color: var(--lighter--gray);
}
.cta-btn {
  /* width: 9.18rem; */
  height: 3rem;
  background-color: var(--background-color);
  border: 2px solid #ebebeb;
  box-shadow: #838485;
  padding: 0.8rem 1.43rem;
  color: var(--text-color);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  transition: transform ease-in-out 0.5s;
  & span {
    font-family: Manrope;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.37rem;
    letter-spacing: 0em;
    text-align: left;
  }
  & .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  &:hover span,
  &:hover .icon {
    transform: translateY(-2px);
  }
}
.px-0 {
  padding-block: 0rem;
}
.gap-2 {
  gap: 1rem;
}

.mx-2 {
  margin-inline: 1rem;
}
.mx-3 {
  margin-inline: 2rem;
}
.title-name {
  /*  164 110*/
  padding: 9.125rem;
  padding-inline: 9.125rem;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mt-4 {
  margin-top: 4rem;
}
.px-5 {
  padding-inline: 5rem;
}
.pl-16 {
  padding-left: 21.59rem;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.my-3 {
  margin-block: 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.h-70vh {
  height: 70vh;
}

.circle {
  position: relative;
  width: 20.18rem;
  height: 20.18rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: url("./assets/images/profilePicture.png");
  background-size: cover;
  filter: grayscale(1.2);
}

.text {
  position: absolute;
  color: var(--background-color);
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
  & span {
    position: absolute;
    left: 50%;
    font-weight: 600;
    font-size: 0.8rem;
    transform-origin: 0 9rem;
    top: -40%;
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.sub-text-intro {
  margin-top: 2.62rem;
  width: 45%;
  margin-left: auto;
  margin-right: 6.87rem;
}

.icon {
  width: 1rem;
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
}
.box {
  font-size: 32px;
}
.content {
  position: relative;
  & .box {
    transform: scale(1);
    transition: 0.6s ease all;
  }
  & .example {
    left: 10%;
    top: 50%;

    position: absolute;
    transform: translateY(-50%) perspective(800px) scale(0.4) translateX(600px);
    z-index: 100;
    opacity: 0;
    transition: 0.3s ease all;
  }
  &:hover {
    & .example {
      top: 50%;
      -moz-transform: scale(1.2) rotate(-12deg) translate(0px, -64px);
      -webkit-transform: scale(1.2) rotate(-12deg) translate(0px, -64px);
      -o-transform: scale(1.2) rotate(-12deg) translate(0px, -64px);
      -ms-transform: scale(1.2) rotate(-12deg) translate(0px, -64px);
      transform: scale(1.2) rotate(-12deg) translate(0px, -64px);
      opacity: 1;
    }
    & .box {
      transform: scale(0.95);
    }
  }
}

.content--left {
  position: relative;
  & .box {
    transform: scale(1);
    transition: 0.6s ease all;
  }
  & .example {
    position: absolute;
    top: 50%;

    -moz-transform: scale(1.3) rotate(-12deg) translate(0px, -64px);
    -webkit-transform: scale(1.3) rotate(-12deg) translate(0px, -64px);
    -o-transform: scale(1.3) rotate(-12deg) translate(0px, -64px);
    -ms-transform: scale(1.3) rotate(-12deg) translate(0px, -64px);
    transform: scale(1.3) rotate(-12deg) translate(0px, -64px);
    z-index: 100;
    opacity: 0;
    transition: 0.6s ease all;
  }
  &:hover {
    & .example {
      right: 50%;
      top: 50%;
      transform: translateY(-50%) perspective(800px) rotateY(-20deg) scale(1.2)
        translateX(120px) rotatez(20deg) rotateY(10deg);
      opacity: 1;
    }
    & .box {
      transform: scale(0.95);
    }
  }
}

.project-wrapper {
  margin-left: 25rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-0_5 {
  margin-top: 0.5rem;
}

.project-list-icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  bottom: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg {
  width: 2.5rem;
  height: 2.5rem;
}

.w-25per {
  width: 30%;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: justify;
}

.mx-auto {
  margin-inline: auto;
}
.text-center {
  text-align: center;
}
.footer {
  min-height: 70vh;
}

.footer-cta {
  font-family: League Gothic;
  font-size: 10rem;
  font-weight: 400;
  line-height: 12rem;
  letter-spacing: 0.01em;
  margin-inline: auto;
  width: fit-content;
  transition: all ease-in 0.1s;
  border-bottom: 1rem solid transparent;
  &:hover {
    border-bottom: 1rem solid var(--text-color);
  }
}

.footer-social {
  border-top: 1px solid var(--lighter-text);
  border-bottom: 1px solid var(--lighter-text);
  margin-top: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gap-1 {
  gap: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-last {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.about-image {
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: url(./assets/images/payalgif.gif);
  background-size: cover;
  background-position: center;
  & video {
    border-color: 1px solid #838485;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.mb-footer {
  margin-bottom: 8.25rem;
}
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  /* height: 130vh; */
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}
